@font-face {
    font-family: "Noto Serif";
    src: local("Noto Serif Regular"), url("../fonts/NotoSerif-Regular.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif";
    src: local("Noto Serif Italic"), url("../fonts/NotoSerif-Italic.ttf") format("truetype");
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif";
    src: local("Noto Serif Bold"), url("../fonts/NotoSerif-Bold.ttf") format("truetype");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif";
    src: local("Noto Serif BoldItalic"), url("../fonts/NotoSerif-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

:root {
    --text-color: #151515;
    --text-muted-color: #535353;
    --background-color: #fefefe;
    --link-color: #205fff;
    --visited-color: #e70cff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #f7f7f7;
        --text-muted-color: #9a9a9a;
        --background-color: #131313;
        --link-color: #5d89f8;
        --visited-color: #ff00aa;
    }
}

html {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

body > * {
    max-width: 640px;
    margin: auto;
    padding: 0 1.2rem;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--visited-color);
}

nav > ul {
    padding: 0;
    display: flex;
    gap: 20px;
}

nav > ul > li {
    list-style: none;
}

nav > ul > li > a {
    color: var(--text-color);
}

nav > ul > li > a:visited {
    color: var(--text-color);
}

h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    margin-top: 1.8rem;
    margin-bottom: 1.2rem;
}

p {
    margin: 0;
    line-height: 1.4;
    margin-bottom: 1.6rem;
}

header {
    max-width: 960px;
}

footer {
    color: var(--text-muted-color);
    text-align: center;
    margin-top: 3rem;
}

.prev-next {
    margin-top: 4rem;
    display: flex;
    gap: 3rem;
}

.next-link {
    margin-left: auto;
    word-wrap: break-word;
}